<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet"	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/styles.css">
		
	<title>Filiere</title>
</head>

<body class="home-background">

<!-- ---------------------------------------------------------------------------- HEADER  -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="home.html">MyMenu</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="#">Comment ça marche ?</a>
		      </li>
		      
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Nos Recettes
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Les mieux notées</a>
		          <a class="dropdown-item" href="#">New !</a>
		          <a class="dropdown-item" href="#">Healthy</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Végétariennes</a>
		          <a class="dropdown-item" href="#">Vegan</a>
		          <a class="dropdown-item" href="#">Halal</a>
		        </div>
		      </li>
	      </ul>
		   	  
		  <form class="form-inline my-2 my-lg-0">
		  	<button class="btn btn-success my-2 my-sm-0" type="submit">Connexion</button>
		  </form>
		    
		  </div>
		</nav>
	</header>
<div class="wrapper">
		<div class="home-body">
	        <h1 class="cover-heading">MyMenu</h1>
	        <p class="lead">"Qu'est ce qu'on mange ce soir ?"</p>
	        <p class="lead">
	          <a href="profile.html" class="btn btn-lg btn-success">Commencer !</a>
	        </p>
		</div>
	</div>	
<!-- ---------------------------------------------------------------------------- FOOTER  -->	

	<footer id="footer-home">
	    <a href="profile.html" class="fab fa-twitter footer-logo"></a>
	    <a href="profile.html" class="fab fa-facebook footer-logo"></a>
	    <a href="profile.html" class="fab fa-instagram footer-logo"></a>
	    <a href="profile.html" class="fas fa-envelope footer-logo"></a>
	    <p>&copy;2021 Copyright - MyMenu</p>
	</footer>
  
<!-- ---------------------------------------------------------------------------- JS SCRIPTS -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://kit.fontawesome.com/ff44a36bc1.js"></script>
</body>
</html>